<app-titulo [titulo]= "'Evento'" ></app-titulo>
<form class="row row-cols-lg-auto g-3 align-items-center" action="">
  <div>
    <label class="visually-hidden" for="searchInput">Buscar</label>
    <div class="input-group">
      <label class="me-3">Filtro:</label>
      <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtroLista" [ngModelOptions]="{standalone: true}" appFocus />
    </div>
  </div>
</form>

<h3>Filtro: {{filtroLista}}</h3> 

<table class="table">
  <thead class="table-dark">
    <tr>
      <th class="text-center" scope="col">
        <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
          <i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!mostrarImagem ? 'Mostrar' : 'Ocultar'}}
        </button>
      </th>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Qtd Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>
  
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">{{evento.imagemURL}}</td>
      <th class="text-center">{{evento.id}}</th>
      <td class="text-center">{{evento.tema}}</td>
      <td class="text-center">{{evento.local}}</td>
      <td class="text-center">{{evento.dataEvento | dateTimePipe}}</td>
      <td class="text-center">{{evento.qtdPessoas}}</td>
      <td class="text-center">
        <ng-container *ngIf="evento.lotes && evento.lotes.length > 0">
          {{evento.lotes[0].nome | uppercase}}
        </ng-container>
        <ng-container *ngIf="!evento.lotes || evento.lotes.length === 0">
          N/A
        </ng-container>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4> 
      </td>
    </tr>
  </tfoot>
</table>


<!--Preciso realizar a tarefa da seção 7 Modal e Toast-->
<!-- 
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar este evento?</p>
    <input type="text" appFocus placeholder="Digite algo aqui..." />
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template> -->